body.offcanvas-active{
	overflow:hidden;
}
body{
    margin: 0;
    padding: 0;
}
.offcanvas-header{ display:none; }

.navbar{
    background-color: #4bbec9;
}
.navbar-brand{
    font-size: 40px;
    font-family: 'Proxima-Nova',"Arial","Helvetica",sans-serif;
}
.navbar-toggler-icon{
    color: white!important;;
}
.nav-link{
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Proxima-Nova',"Arial","Helvetica",sans-serif;
    font-weight: 600;

}
.c-logo{
    /* position: absolute; */
    /* top: 50%; */
    /* left:50%; */
    width: 150px;
}
/* .c-logo-1{
    position: absolute;
    top: 60%;
    left:43%
} */
.btn-outline-light{
    border-radius: 0px;
}
.logo-description{
    font-size: 20px;
}
.border-color-lg{
    border-left: 4px solid rgba(0,0,0,.6);
}
.paratext-size{
    font-size: 12px;
}
video{
    height: 500px;
    width:100%;
}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}
.count-text{
    font-size: 40px;
}
.commonTab{
    cursor: pointer;
    color:#4cbec9;
    font-weight: 600;
}
.commonTab:hover{
    cursor: pointer;
    color:#4cbec9;
    text-decoration: underline;
    font-weight: 600;
}

/* section third css start */
.active{
    display: block;
}
.hide{
    display: none;
}

ul{
    padding: 0px;
    
}
ul li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.list{
    width: 100px;
    height: 100px;
    background: #EEE;
    padding: 10px;        
}
.activelink{
    color: red;        
}

/* section third css end */

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 70%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #4bbec9;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  .btn-close{
    font-size: 66px;
    position: absolute;
    left: 72%;
    top: -4%;
    color: white;
    
  }
  .second-section-content{
      flex-direction: column;
  }
  .border-color-lg{
    border-left:0px!important;
  }
  .border-color{
    border-bottom:2px solid lightgrey!important;
}
}